extends layout

block content
    form(id="form" method="POST" action="/submitteduser")
        p Username: &nbsp;
            input(type="text" name="username")
        p Password: &nbsp;
            input(type="password" name="password")
        p Email: &nbsp;
            input(type="text" name="email")
        p Age: &nbsp;
            input(type="text" name="age")
        p Do you prefer dogs or cats?: &nbsp;
            input(type="text" name="answer1")
        p Pineapple on pizza?: &nbsp;
            input(type="text" name="answer2" placeholder="True or False")
        p Sub or dub for anime?: &nbsp;
            input(type="text" name="answer3")
        p
            input(type="submit" value="send")
