extends layout

block content
    form(id="form", method="post", action="/loggedin")
        p Username: 
            input(type="text", name='userName')
        p Password: 
            input(type="password", name='password')
        p 
            input(type="submit", value='Login')
    p=errorLog
    p 
        a(href='/createuser') Create User
    table 
        tr 
            th Questions
            th Answer One 
            th Answer Two 
        each item in questions
            tr 
                td #{item.quesion}
                td #{item.answerOne}
                td #{item.answerTwo}
